<section class="h-100">
    <div class="background container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center">
                </div>
                <div class="profile-card card d-flex align-items-center shadow-lg">
                    <div class="profile-card-body card-body animate__animated animate__bounceInLeft">
                        <div class="avatar-img"><img class="avatar-img-border mb-3" src="{{{avatar}}}"><img></div>
                        <ul class="list-group my-2">
                            <li class="list-group-item ranking-table">
                                <div class="row d-flex justify-content-center">
                                    <div class="col">Nombre de usuario:{{username}}</div>
                                </div>
                            </li>
                            <li class="list-group-item ranking-table">
                                <div class="row d-flex justify-content-center">
                                    <div class="col">Edad del usuario: {{age}}</div>
                                </div>
                            </li>
                            <li class="list-group-item ranking-table">
                                <div class="row d-flex justify-content-center">
                                    <div>Correo electronico: {{email}}</div>
                                </div>
                            </li>
                            <li class="list-group-item ranking-table">
                                <div class="row d-flex justify-content-center">
                                    <div>Cantidad de fichas: {{coins}} coins</div>
                                </div>
                            </li>
                            <li class="list-group-item ranking-table">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-4 mb-2">Victorias: 0</div>
                                    <div class="col-4 mb-2">Derrotas: 0</div>
                                    <div class="col-4 mb-2">Promedio: 100%</div>
                                </div>
                            </li>
                            <li class="list-group-item ranking-table">
                                <div class="row d-flex justify-content-center">
                                    <div>Usuario desde: {{created_in}}</div>
                                </div>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-center">
                            <button class="boton-login p-2 button-sound"><a class="profile-href" href="/">Volver al menú</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>